body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    color: #333;
}

nav {
    background-color: #4CAF50;
    padding: 1em;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

.container {
    max-width: 800px;
    margin: 2em auto;
    padding: 2em;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #4CAF50;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 0.5em 0 0.2em;
}

input[type="text"],
input[type="password"],
button {
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#qr-result {
    margin-top: 1em;
    padding: 1em;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
}

.popup {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.notifications-container {
    display: flex;
}

.notifications-sidebar {
    width: 30%;
    border-right: 1px solid #ccc;
    padding: 10px;
}

.notification-content {
    width: 70%;
    padding: 10px;
}

@media (max-width: 600px) {
    .container {
        margin: 1em;
        padding: 1em;
    }
    
    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 0.5em 0;
    }

    video {
        width: 100%;
        height: auto;
    }

    form {
        width: 100%;
    }
}
.qr-container {
    display: flex;
    justify-content: center; /* Center the QR code horizontally */
    align-items: center; /* Center it vertically */
    margin-top: 1em;
    padding: 1em;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align: center;
    width: 100%; /* Make sure it takes up the full width of the container */
}

.qr-container img {
    max-width: 95%; /* Makes sure it fits just short of the container size */
    height: auto; /* Maintain aspect ratio */
    object-fit: contain; /* Ensures it scales properly */
}