<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encrypted QR Code App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/quagga@0.12.1/dist/quagga.min.js"></script> <!-- QuaggaJS library -->
</head>
<body>
    <nav>
        <ul>
            {% if 'username' in session %}
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('generate') }}">Generate QR Code</a></li>
                <li><a href="{{ url_for('scan') }}">Scan QR Code</a></li>
                <li><a href="{{ url_for('account') }}">Account</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
            {% else %}
                <li><a href="{{ url_for('login') }}">Login</a></li>
            {% endif %}
        </ul>
    </nav>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>