{% extends "base.html" %}
{% block content %}
    <h2>Scan QR Code</h2>
    <form method="POST" action="{{ url_for('scan') }}" enctype="multipart/form-data">
        <label for="key_selection">Select Key:</label>
        <select id="key_selection" name="key_selection">
            <option value="{{ user }}">Profile Key</option>
            {% for group in groups %}
                <option value="{{ group }}">{{ group }} Key</option>
            {% endfor %}
        </select>
        <label for="file">Upload QR Code:</label>
        <input type="file" id="file" name="file" required>
        <button type="submit">Scan</button>
    </form>
{% endblock %}